*.gem
build/
.bundle
.sass-cache
Gemfile.lock
*.code-workspace
vendor
Resources/
plugins/
_site/
_config.yml
_config.yml.base64
.vscode/
_data/
coder.json
machineid
CachedExtensions/

CachedExtensionVSIXs/

User/

Machine/

extensions/

logs/

coder.json

machineid

.DS_Store