<!-- Navigation bar -->

<nav class="navbar" style="margin-bottom: 0%;">
    <div class="navbar-container">
        <ul class="navbar-list">
	        <li>
	            <a href="{{ url_for('index') }}">
                    <div id="logo-name">{{base_info['NAME']}}</div>
                </a>
            </li>
            {% for section in ["experience", "education", "submissions", "projects", "mentees", "talks", "groups", "skills","webresume", "qr","vcard"]%}
            <li><a href="{{ url_for('page',path=section) }}">{{section|upper}}</a></li>
            {% endfor %}
            {% for paper in ["Resume", "CV"]%}
            <li><a id="menu_{{paper|lower}}" href="https://rebrand.ly/frantzme_{{paper|lower}}">{{paper|upper}}</a></li>
            {% endfor %}
            <li><a id="menu_rank" href="http://faculty.cs.tamu.edu/guofei/sec_conf_stat.htm">{{"Rank"|upper}}</a></li>
		    <li><a id="menu_similar" href="https://www.connectedpapers.com/main/10571fbf656055e317a830892d0d5abf97313a87/Enhancing-CryptoGuards-Deployability-for-Continuous-Software-Security-Scanning/graph">{{"MS Impact"|upper}}</a></li>
		    {#
		    <li><a id="menu_qr" href="{{url_for('page',path='qr')}}">{{"QR"|upper}}</a></li>
		    #}
        </ul>
   </div>
   {#
   <div class="navbar-container">
	   <ul class="navbar-list">
		   <li><i>Currently looking for Summer 2022 internships!</i></li>
	   </ul>
   </div>
    #}
    <script type="text/javascript">
        var path = window.location.pathname;
        var page = path.split('/')[1];
        if (page !== "") {
            var menu = document.getElementById("menu-" + page);
            menu.className = "menu-selected";
        }
    </script>

</nav>
