<div class="container footer-container">
    <p>
        {{ site.name | escape }} -
        {{ site.email | escape | replace: "@"," at "}}
        {% if site.footer_show_references %}
        &nbsp;- References on request
        {% endif %}
    </p>

    <p>This website was created (with slight
        {% include a.html href="github.com/franceme/franceme.github.io/blob/master/README.md" class="link" %}deviations</a>)
        using the template via {% include a.html href="github.com/sproogen/resume-theme" class="link" %}sproogen.</a> </p>

</div>
