<div class="row clearfix layout layout-left">
        <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
          {% if include.item.short %}
          <h4>{{ include.item.short }}</h4>
          <h4>
            {% if include.item.localurl %}
              <a target="_blank" href="{{include.item.localurl}}">
                  <i class="fas fa-file-pdf" title="{{ include.item.short }}" style="font-size:125%;"></i>
              </a>
              {% if include.item.sig %}
              <a href="{{include.item.sig}}">
                  <i class="fas fa-unlock-alt" title="{{ include.item.sig }}" style="font-size:125%;"></i>
              </a>
              {% else %}
              {% endif %}
            </h4>
            {% else %}
              <h4>{% include a.html href=include.item.url class="link" %}{{ include.item.short }}</a></h4>
            {% endif %}
          {% else %}
            {% if include.item.url %}
              {% if include.item.name %}<h4>{% include a.html href=include.item.url%}{{ include.item.name }}</a></h4>{% endif %}
            {% else %}
              {% if include.item.name %}<h4>{{ include.item.name }}</h4>{% endif %}
            {% endif %}
          {% endif %}
          {% if include.item.company %}<h4>{{ include.item.company }}</h4>{% endif %}
          {% if include.item.link and include.item.link != '' %}
            {% include a.html href=include.item.link class="link" %}{{ include.item.link }}</a>
          {% endif %}
          {% if include.item.job_title %}<p><b>{{ include.item.job_title }}</b></p>{% endif %}
          {% if include.item.conf %}<p><b>
            {% include a.html href=include.item.conf_URL class="link" %}{{ include.item.conf }}</a></b></p>{% endif %}
          {% if include.item.exp %}<p><b>{{ include.item.exp }}</b></p>{% endif %}
          {% if include.item.type %}
            {% if include.item.url %}
              <p><a href="https://{{include.item.url}}">{{ include.item.type }}</a></p>
            {% else %}
              <p>{{ include.item.type }}</p>
            {% endif %}
          {% endif %}
          {% if include.item.qualification %}<p><b>{{ include.item.qualification }}</b></p>{% endif %}
          {% if include.item.dates %}<p>{{ include.item.dates }}</p>{% endif %}
          {% if include.item.date %}<p>{{ include.item.date }}</p>{% endif %}
          {% for job in include.item.jobs %}
            <p><b>{{ job.title }}</b></p>
            <p>{{ job.dates }}</p>
          {% endfor %}
          <p class="no-print">
          {% if include.item.github %}
              <a href="https://github.com/{{ include.item.github }}" target="_blank">
                <i class="fa fa-github" style="font-size:225%;" title="{{ include.item.name }} Github link"></i>
              </a>
          {% endif %}
          {% if include.item.githubpage %}
              <a href="https://{{ include.item.githubpage }}" target="_blank">
                <i class="fab fa-internet-explorer" style="font-size:225%;" title="{{ include.item.name }} Github Page link"></i>
              </a>
          {% endif %}
          {% if include.item.linkedin %}
              <a href="https://linkedin.com/learning/{{ include.item.linkedin }}" target="_blank">
                <i class="fab fa-linkedin" style="font-size:225%;" title="{{ include.item.short }} Linkedin link"></i>
              </a>
          {% endif %}
          </p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
          {% if include.item.quote  and include.item.quote != '' %}
            <p class="quote">{{ include.item.quote }}</p>
          {% endif %}
          {{ include.item.description | strip | markdownify }}
          {{ include.item.abstractLine | strip | markdownify }}
          {{ include.item.about | strip | markdownify }}
          {% if include.item.short %}
            {{ include.item.name | strip | markdownify }}
          {% endif %}
        </div>
        {% if include.item.learned.size > 0 %}
        <br><div style="display:inline-block;">
        <p>Learned Skills: </p>
            {% for learn in include.item.learned %}
                <p style="line-height:2em;display:inline;border-radius: 50px;padding: .6ch;background: rgba(0, 0, 179, .45);">{{ learn }}</p>&nbsp;
            {% endfor %}
        </div>
        {% endif %}
      </div>